.App {
  text-align: center;
}

.aboba{
  background: black;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px;
  font-size: 16px;
  cursor: pointer;
}

.inputAboba {
  background: #f2827f;
  color: white;
  border-radius: 5px;
  padding: 10px;
  font-size: 16px;
}
